// Compile this

@import 'variables';
@import 'animations';
@import 'header';
@import 'difficulty';
@import 'map';

.artboard {
  box-sizing: border-box;
  width: 1280px;
  height: 720px;
  background: $bg;
  box-shadow: 0 3px 20px rgba(0, 0, 0, .2);
  border-radius: 3px;
  margin: 0 auto;
}
