// Compile this

@import 'includes/variables';
@import 'includes/animations';
@import 'includes/sections/header';
@import 'includes/sections/difficulty';
@import 'includes/sections/map';

.artboard {
  box-sizing: border-box;
  width: 1280px;
  height: 720px;
  background: $bg;
  box-shadow: 0 3px 20px rgba(0, 0, 0, .2);
  border-radius: 3px;
  margin: 0 auto;
}
