.map {
  background-color: $map-bg;
  background-image: radial-gradient($checker 15%, transparent 16%), radial-gradient($checker 15%, transparent 16%);
  background-size: 16px 16px;
  background-position: 0 0, 8px 8px;
  height: 100%;
  position: relative;
}

.path {
  position: relative;
  top: 200px;
  left: 250px;
}

li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $path;
  margin: 0 36px;
  display: inline-block;
  position: relative;
}

li::before{
  content: '';
  position: absolute;
  top: 7px;
  left: -78px;
  width: 80px;
  height: 6px;
  background: $path;
}

.flower {
  position: relative;
}

.flower__one {
  top: 230px;
  left: 220px;
}

.flower__two {
  top: 50px;
  left: 450px;
}

.flower__three {
  top: 200px;
  left: 700px;
}

.flower__four {
  top: 100px;
  left: 1100px;
}

.flower__center {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: $flower-center;
  z-index: 2;
  position: relative;
}

.flower__petal {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: $flower-petal;
  position: relative;

  &:nth-child(2) {
    top: -14px;
    left: -5px;
  }

  &:nth-child(3) {
    top: -23px;
    left: 5px;
  }

  &:nth-child(4) {
    top: -22px;
    left: 5px;
  }

  &:nth-child(5) {
    top: -31px;
    left: -5px;
  }
}

.flower__top {
  position: absolute;
  animation: rotateLeftRight 500ms ease-in-out infinite alternate;
}

.flower__leaf {
  width: 12px;
  height: 12px;
  background-color: $flower-leaf;
  border-radius: 100px 0;
  position: relative;
  animation: rotateUpDown 300ms ease-in-out infinite;

  &:first-child {
    left: 8px;
    top:  20px;
    animation-direction: alternate;
    transform-origin: bottom left;
  }

  &:last-child {
    left: -8px;
    top: 8px;
    animation-direction: alternate-reverse;
    transform-origin: bottom right;
  }
}

.flower__leaf--left {
  border-radius: 0 100px;
}

.infobox {
  width: 160px;
  height: 80px;
  background: rgba(0, 0, 0, .17);
  border-radius: 25px;
  font-family: 'Super-Mario-Maker';
  font-size: 30px;
  color: #fff;
  text-align: center;
  position: relative;
  top: 15px;
  left: 200px;

  img {
    width: 25px;
    height: auto;
  }
}

.infobox__content {
  margin: 0 auto;
}

.level__icon {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background: $level-circle;
  box-sizing: border-box;
  border: 3px solid #fff;
}

.container {
  position: absolute;
  padding: 8px 8px 32px 8px;
  background: rgba(0, 0, 0, .17);
  font-family: 'Varela Round';
  font-size: 24px;
  color: #fff;
  padding: 10px 50px;
  bottom: 0;
  right: 0;
  left: 0;
}

.btn--new-game {
  width: 336px;
  height: 68px;
  line-height: 68px;
  text-align: center;
  font-size: 35px;
  float: right;
  background: $btn-new-game;
  color: $btn-new-game-text;
}

.castle {
  width: 150px;
  height: 150px;
  position: relative;
  top: 100px;
  left: 100px;
}

.tower {
  height: 30px;
  width: 20px;
  background: $castle-main;
}

.tower--left {
  float: left;
  // transform: rotate(-5deg);
}

.tower--right {
  float: right;
}
